## editors
/.idea

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
/tool/node_modules/

## testing
/coverage/

## temp folders
/.tmp/
/tool/lambda/

# build
/_site/
/dist/
/out-tsc/

storybook-static
custom-elements.json
