## editors
/.idea

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
/tool/node_modules/

## testing
/coverage/

## temp folders
/.tmp/
/tool/outDir/
/2024/images/
/2023/images/
/2022/images/

## temp files
/tool/script.cmd
/tool/sizes.txt
/tool/file.json
/tool/test.json

# build
/_site/
/dist/
/out-tsc/

storybook-static
custom-elements.json
