<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Webp Images" path="/images/*.webp" verb="*" type="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</configuration>
